---
import PageLayout from "./PageLayout.astro";
import Tag from "@/components/Blog/Tag.astro";

const {
  data: {
    name,
    headlines,
    about,
    skills,
    college,
    profileImgLink,
    links,
    articleCount,
  },
} = Astro.props;
// console.log(skills);
---

<PageLayout title={name}>
  <div class="w-full max-w-[800px] py-4 mx-auto mt-10">
    <div class="">
      <div class="flex items-center justify-center">
        <img
          src={profileImgLink}
          alt={`${name}`}
          class="w-[200px] h-[200px] rounded-full"
          transition:name="profile"
        />
      </div>
      <h1 class="text-3xl font-bold text-center mt-4">{name}</h1>
      <p class="text-center mt-2 text-xl">{headlines}</p>
      <p class="text-center text-xl my-4 font-medium text-primary-text/70">
        {college}
      </p>
      <p class="text-center mt-2 text-lg">{about}</p>
      <div class="flex justify-center mt-4 space-x-4">
        {skills?.map((skill) => <Tag label={skill} />)}
      </div>
    </div>
  </div>
</PageLayout>
