---
import type { CollectionEntry } from "astro:content";
import PageLayout from "./PageLayout.astro";
import Tag from "@/components/Blog/Tag.astro";

// type Props = CollectionEntry<"blogs">["data"];

const { title, description, pubdate, author, heroImg, tags } = Astro.props.data;
---

<PageLayout title={title}>
  <article class="w-full max-w-[800px] py-4 mx-auto">
    <header class="pt-10">
      <img src={heroImg} class="rounded mb-4 shadow-lg" alt={title} />
      <h1 class="text-5xl font-bold mb-3">{title}</h1>
      <p class="mb-3 text-xl">{description}</p>
      <div
        class="flex justify-between items-center mb-4 italic text-md text-secondary-text"
      >
        <p class="">
          {author}
        </p>
        <p>
          {
            new Date(pubdate).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })
          }
        </p>
      </div>
    </header>
    <section>
      <slot />
    </section>
    <footer>
      <div class="flex items-center gap-2 my-3">
        <p class="text-xl">Tags:</p>
        <ul class="flex items-center gap-2 flex-wrap">
          {tags.map((tag: string) => <Tag label={tag} />)}
        </ul>
      </div>
    </footer>
  </article>
</PageLayout>
